# =========================
# IDEs JetBrains (PyCharm e CLion)
# =========================
.idea/
*.iml

# =========================
# Python
# =========================
# Arquivos compilados
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais e variáveis
venv/
env/
.env

# =========================
# C / Compilação
# =========================
# Objetos e executáveis
*.o
*.out
*.exe
*.so
*.dll
*.dylib

# Diretórios de build (Padrão do CMake e CLion)
build/
cmake-build-*/

# =========================
# Sistema Operacional (Opcional, mas recomendado)
# =========================
.DS_Store
Thumbs.db